@page "/managementconsole"
<h3>Management Console</h3>
<br/>
<div class="form-group">
    <label for="seller">Seller Name:</label>
    <input type="text" id="seller" class="form-control" @bind-value="sellerName" />
</div>
<div class="row">
    <div class="col-3">
        <SelectProductSellingComponent OnProductCallback="SelectProduct"></SelectProductSellingComponent>
        <br/>
        <SellProductComponent 
            SellerName="@sellerName"
            SelectedProduct="selectedProduct" 
            OnProductSold="SellProduct"></SellProductComponent>
    </div>
    <div class="col">
        <TransactionComponent @ref="transactionComponent"></TransactionComponent>
    </div>
</div>



@code {
    private TransactionComponent transactionComponent;

    private Product selectedProduct;
    private string sellerName;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            transactionComponent.LoadTransactions(sellerName);
        }
    }

    private void SelectProduct(Product product)
    {
        selectedProduct = product;
    }

    private void SellProduct(Product product)
    {
        transactionComponent.LoadTransactions(sellerName);
    }
}
